footer>

<ul class="footer">
<li><a href="{{ path('app_mentions') }}">Mentions légales</a></li>
<li><a href="{{ path('app_conditions') }}">Conditions générales d'utilisation </a></li>
<li></li>
</ul>

<p class="copy">Copyright &copy 2024</p>
</footer>