<header>
<img src="img/coiffe.png" alt="">
<nav>
<ul>
<li><a href="{{ path('app_default') }}">Accueil</a></li>
<li class="scroll"><a href="#">Nos services</a>
<ul class="menu">
<li><a href="#">Coiffures</a></li>
<li><a href="#">Maquillage</a></li>
<li><a href="#">Coloration</a></li>
</ul>
</li>
<li><a href="#">Connexion</a></li>
<li><a href="#">Contact</a></li>

 
</ul>
</nav>

</header>