{% extends 'base.html.twig' %}

{% block title %}Coiffures
{% endblock %}

{% block body %}

	<section>
		<h2>Lorem ipsum dolor sit</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur.
			<br>
			<a href="{{ path('app_default') }}" class="button">Prendre rendez-vous</a>
		</p>
		<img class="imgcoiff" src="img/coiff1.jpg" alt="">
	</section>
	<section>
		<h2>Lorem ipsum dolor sit</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem,ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur.
			<br><a href="{{ path('app_default') }}" class="button">Prendre rendez-vous</a>
		</p>
		<img class="imgcoiff" src="img/coiff2.jpg" alt="">


	</section>
	<section>
		<h2>Lorem ipsum dolor
		</h2>
		<p>Lorem, ipsum dolor sit amet consectetur adipisicing Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur.
			<a href="{{ path('app_default') }}" class="button">Prendre rendez-vous</a>
		</p>
		<img class="imgcoiff" src="img/coiff3.jpg" alt="">

	</section>

{% endblock %}
