{% extends 'base.html.twig' %}

{% block title %}Coloration{% endblock %}

{% block body %}

<div class="imagcolor">
<img src="img/coiff4.jpg" alt="">
<img src="img/coiff4.jpg" alt="">
</div>

<p class="paragraph">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, quasi eveniet saepe adipisci molestiae iste amet accusamus autem fuga illo facilis sunt cupiditate quo unde reiciendis neque perspiciatis dignissimos pariatur. <br> <a href="{{ path('app_default') }}" class="button">Prendre rendez-vous</a>
</p>
<div class="imagcolor">
<img src="img/coiff7.jpg" alt="">
<img src="img/coiff5.jpg" alt="">
</div>



{% endblock %}
