{% extends "base.html.twig" %}
{% block title %}Maquillage{% endblock %}

{% block body %}

<div class="imgmakeup">
<img src="img/coiff8.jpg" alt="">
<img src="img/coiff9.jpg" alt="">
{# <img src="img/coiff8.jpg" alt=""> #}
</div>
<h3>orem ipsum dolor sit amet consectetur</h3>
<div >
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, saepe consequuntur? Quasi id laudantium harum ad dolorum ab inventore exercitationem facere repellendus vel tempore accusamus deleniti ullam maiores laborum reiciendis libero pariatur, quaerat, ratione adipisci distinctio nisi qui. Ipsam cum quidem qui saepe voluptates, nam obcaecati eaque consequuntur. Alias tempore vel ipsam ipsum voluptates neque quo facere nam quis delectus ad quasi rem explicabo, dolores perferendis non! Sequi consequatur optio alias et! Aperiam voluptates asperiores praesentium quisquam et voluptatibus odio illo obcaecati dolor consectetur. Voluptas, eius sint dicta vel, quod unde quaerat ullam rem voluptates, eaque ut numquam cumque aliquam. Iste quos doloribus eveniet labore veniam voluptas accusamus nulla nam repellat minus fugit reprehenderit quia porro excepturi, laudantium delectus explicabo quasi esse itaque aliquid? Perferendis, ipsum sapiente vero sequi ea modi inventore eos ipsa dicta? Sint necessitatibus aspernatur iste, qui fugiat eaque consequuntur commodi voluptatibus debitis temporibus vel fuga. Eius rerum nemo at asperiores doloribus beatae atque id odio amet voluptates consequatur nam, libero reprehenderit quam iure sunt voluptatem quidem inventore iste ducimus? Placeat exercitationem, doloribus atque, neque quod fuga tenetur dignissimos repudiandae eligendi culpa voluptatibus. Illo quo ipsum repellendus saepe, nesciunt odio temporibus ab cupiditate dolores quod dolorum commodi.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores, saepe consequuntur? Quasi id laudantium harum ad dolorum ab inventore exercitationem facere repellendus vel tempore accusamus deleniti ullam maiores laborum reiciendis libero pariatur, quaerat, ratione adipisci distinctio nisi qui. Ipsam cum quidem qui saepe voluptates, nam obcaecati eaque consequuntur. Alias tempore vel ipsam ipsum voluptates neque quo facere nam quis delectus ad quasi rem explicabo, dolores perferendis non! Sequi consequatur optio alias et! Aperiam voluptates asperiores praesentium quisquam et voluptatibus odio illo obcaecati dolor consectetur. Voluptas, eius sint dicta vel, quod unde quaerat ullam rem voluptates, eaque ut numquam cumque aliquam. Iste quos doloribus eveniet labore veniam voluptas accusamus nulla nam repellat minus fugit reprehenderit quia porro excepturi, laudantium delectus explicabo quasi esse itaque aliquid? Perferendis, ipsum sapiente vero sequi ea modi inventore eos ipsa dicta? Sint necessitatibus aspernatur iste, qui fugiat eaque consequuntur commodi voluptatibus debitis temporibus vel fuga. Eius rerum nemo at asperiores doloribus beatae atque id odio amet voluptates consequatur nam, libero reprehenderit quam iure sunt voluptatem quidem inventore iste ducimus? Placeat exercitationem, doloribus atque, neque quod fuga tenetur dignissimos repudiandae eligendi culpa voluptatibus. Illo quo ipsum repellendus saepe, nesciunt odio temporibus ab cupiditate dolores quod dolorum commodi.<a href="{{ path('app_default') }}" class="button">Prendre rendez-vous</a>
</p></p>
</div>



{% endblock %}