{% extends 'base.html.twig' %}

{% block title %}Hello MentionsController!{% endblock %}

{% block body %}
<h3>Lorem ipsum dolor sit amet consectetur</h3>

<p>Lorem ipsum dolor sit amet consectetur:</p>
<p>Lorem ipsum dolor sit amet </p>
<p>Lorem ipsum dolor sit amet</p>
<p>Lorem ipsum dolor sit amet </p>
<p>Lorem ipsum dolor sit amet</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem doloremque atque enim corrupti ratione possimus perferendis porro nihil doloribus dicta temporibus pariatur autem dolorum et veritatis voluptatem est numquam, esse iure repellat expedita libero optio rem. Porro quia, illo vero iusto ratione unde saepe repudiandae pariatur ipsam voluptatibus velit nisi sunt. Debitis, molestiae at deleniti nostrum voluptatibus corporis minima ullam consequuntur, voluptatum dolorem fuga incidunt. Fugiat ullam ducimus, est quo sequi nisi. Nulla voluptatem, omnis blanditiis quisquam nam sint, cum autem culpa, tenetur atque modi expedita optio ipsum maxime veniam dolorum possimus voluptatibus maiores impedit corporis ipsam corrupti debitis amet incidunt! Ducimus asperiores ut, temporibus ad illo nisi modi sequi repudiandae laborum porro explicabo eveniet illum sunt molestiae ipsum cum, id possimus voluptatem consequuntur similique dolorem optio dolor. Placeat vitae optio, dolorum totam reiciendis facere delectus ex cum. Deserunt eaque illum aliquam hic sint dolor officiis nostrum fugiat nisi commodi laborum doloremque, magni neque et pariatur cupiditate aut ad numquam! Ex reprehenderit est, sit quia provident ipsa vel quas praesentium quis consequatur, voluptas consectetur porro itaque. Provident vel quis nam! Laudantium, voluptas commodi dicta vel quam officiis hic veritatis laboriosam corporis natus officia ducimus similique ab repellat incidunt debitis impedit.</p>

{% endblock %}
